{% include "breadcrumbs" %}
<div id="content">
    <div class="row-fluid staged-donation-container">
        <!-- .span6 -->
        <div class="span6 staged-donation-content">
            {% assign thermo_width = 100 %}
            <div class="row text-center">
                <div class="col-sm-8 col-sm-offset-2 panel-short">
                {% if page.slug == 'give' %}
                <div class="donate-intro col-sm-8 col-sm-offset-2">
                {% elsif page.slug == 'give_monthly'%}
                <div class="donate-monthly col-sm-8 col-sm-offset-2">
                {% endif %}
                  <h3 class="beet">{{page.headline}}</h3>
                }
                }
                </div><br>
            </div></div>
            <div class="row beige pb20 mt20 shadow">
                <div class="col-sm-8 col-sm-offset-2 panel-short">
                    <div class="donate-impact col-sm-4 p20">
                    </div>
                    <div class="col-sm-8 p20">
                        <h5 class="beet">make your contribution online</h5>
                        <p> with our secure payment method:</p>
                        {% include 'donations' %}
                        <br>
                        {% if page.slug == 'give' %}
                        <p><strong class="gr2">If you prefer, mail your payment: </strong><br>The GardenWorks Project, PO Box 615, West Chicago, IL 60186.</p><br>
                        <p><strong>Do you prefer to give monthly? <a href="/give_monthly">Visit our monthly giving page.</a></strong></p>
                        {% elsif page.slug == 'give_monthly'%}
                        <p><strong>Do you prefer make a single donation? <a href="/give">Click here.</a></strong></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row text-center m30">
                <h4 class="gr2">Your Contributions' Impact</h4>
            </div>
            <div class="row text-center">
            <div class="donate-effect col-sm-8 col-sm-offset-2 panel-short">
            </div>
          </div>
            <div class="donate-parent" style="display:none;">
                {{page.parent.donation.content}}
            </div>
        </div>
    </div><!-- .row-fluid -->
    {% if page.donation.content.size > 0 %}
        <div class="row text-center m30">
                <h4 class="brown">Other support options</h4>
            </div>

    <div id="end" class="row">
        <div class="col-sm-8 col-sm-offset-2 panel-short text-center">
            {{ page.donation.content }}
        </div>
    </div>
    {% endif %}
    {% include 'join-us' %}
    {% comment %}
    {% if page.tags_count > 0 %}
    <div class="page-tags">
        {% include "page_tags" with page %}
    </div>
    {% endif %}
    {% if page.show_stream? %}
    {% include "page_stream" %}
    {% endif %}
    {% endcomment %}
</div>
