@import url("https://p.typekit.net/p.css?s=1&k=mep7vls&ht=tk&f=10294.10295.10296.10297.32106.32108.32112.32114&a=4407135&app=typekit&e=css");
.invisible {
  transition: opacity 1s ease;
  opacity: 0;
}

.visible {
  transition: opacity 1s ease;
  opacity: 1;
}

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
*/
@font-face {
  font-family: "brandon-grotesque";
  src: url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/1da05b/0000000000000000000132df/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url("https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/32d3ee/0000000000000000000132e0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/8f4e31/0000000000000000000132e3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "brandon-grotesque";
  src: url("https://use.typekit.net/af/383ab4/0000000000000000000132e4/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/383ab4/0000000000000000000132e4/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/383ab4/0000000000000000000132e4/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "calder-dark-outline";
  src: url("https://use.typekit.net/af/7650c4/00000000000000003b9aedf5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/7650c4/00000000000000003b9aedf5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/7650c4/00000000000000003b9aedf5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "calder-script";
  src: url("https://use.typekit.net/af/6c23cf/00000000000000003b9aedfa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/6c23cf/00000000000000003b9aedfa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/6c23cf/00000000000000003b9aedfa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "calder-dark-grit";
  src: url("https://use.typekit.net/af/216f93/00000000000000003b9aedf3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/216f93/00000000000000003b9aedf3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/216f93/00000000000000003b9aedf3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "calder-dark";
  src: url("https://use.typekit.net/af/7d3b12/00000000000000003b9aedf2/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/7d3b12/00000000000000003b9aedf2/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/7d3b12/00000000000000003b9aedf2/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}
/*-------------------GENERAL FONTS AND BASIC SCRIPTS-----------------------*/
.container-fluid {
  overflow-x: hidden;
}

body {
  color: #666666;
  overflow-x: hidden;
}

.headline {
  font-size: 7em;
  font-family: "calder-dark", sans-serif;
}

.headline-scr {
  padding: 20px;
  font-size: 3em;
  font-family: "calder-script", sans-serif;
}

@media screen and (max-width: 425px) {
  .headline-scr {
    font-size: 2em;
  }
}

.script {
  font-size: 2em;
  font-family: "calder-script", sans-serif;
}

.lrg-icon {
  font-size: 3em;
}

h1, h2, h3, h4, h5 {
  font-family: "calder-dark", sans-serif;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.66em;
}

label {
  font-size: 1.25em;
  font-family: "brandon-grotesque", sans-serif;
}

p, span {
  font-size: 1.25em;
  font-family: "brandon-grotesque", sans-serif;
}
p a, span a {
  color: #f1e2c5;
}
p a:hover, span a:hover {
  text-decoration: none;
  font-weight: 700;
}

strong {
  font-weight: 700;
  font-family: "brandon-grotesque", sans-serif;
}

.grit {
  font-family: "calder-dark-grit", sans-serif;
}

.brandon {
  font-family: "brandon-grotesque", sans-serif;
}

/*-------------------COLOR & RADIUS VARIABLES-----------------------*/
.beige {
  background-color: #f1e2c5;
  margin-right: 5%;
  margin-left: 5%;
}

.beigeW {
  background-color: #f1e2c5;
  margin-right: -16px;
  margin-left: -16px;
}

.beige-t {
  color: #f1e2c5;
}

.beet {
  color: #B80F6C;
}

.white {
  color: #fff;
}

.gr {
  color: #4CBB41;
}

.gr2 {
  color: #4A9113;
}

.grbk {
  background-color: #A67C52;
  border-radius: 0px 0px 10px 10px;
  border: solid #fff 6px;
  padding: 10px;
  width: 280px;
}

.brown {
  color: #A67C52;
}

.orange {
  color: #FF560D;
}

.bradius {
  border-radius: 0px 0px 10px 10px;
}

.shadow {
  -moz-box-shadow: inset 0 0 10px #C69C6D;
  -webkit-box-shadow: inset 0 0 10px #C69C6D;
  box-shadow: inset 0 0 10px #C69C6D;
}

.shadow2 {
  -moz-box-shadow: 0 0 10px #8C6239;
  -webkit-box-shadow: 0 0 10px #8C6239;
  box-shadow: 0 0 10px #8C6239;
}

/*-------------------NUMBERS BARS FOR STATS-----------------------*/
.text-bar {
  color: #A67C52;
  display: flex;
  align-items: center;
}
.text-bar .soil {
  background-image: url("soil-stripes.png");
  background-repeat: repeat;
  margin-bottom: 5px;
  padding: 0px 20px;
  background-origin: content-box;
}
.text-bar .bar {
  height: 1px;
  border: solid #A67C52 3px;
  border-radius: 3px;
}
.text-bar .full {
  height: 1px;
  border: solid #A67C52 6px;
  border-radius: 3px;
  width: 100%;
}
.text-bar .pattern {
  color: #B80F6C;
}
.text-bar .pattern .gr {
  color: #4CBB41;
  font-family: "brandon-grotesque", sans-serif;
  margin-bottom: 20px;
}
.text-bar .bar-numbers {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 425px) {
  .text-bar .bar-numbers {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 425px) {
  .text-bar {
    justify-content: center;
  }
}

/*-------------------1-2 structure for panels-----------------------*/
.panel-short {
  display: flex;
  /*align-items: center;*/
  flex-wrap: wrap;
}
@media screen and (max-width: 425px) {
  .panel-short {
    padding-top: 20px;
    justify-content: center;
    width: 300px;
    margin: auto;
  }
}
.panel-short img {
  max-width: 100%;
}
.panel-short .imgfr {
  width: 90%;
  border: solid #B80F6C 6px;
  border-radius: 6px;
}
.panel-short a {
  color: #B80F6C;
}
.panel-short a:hover {
  color: #4CBB41;
  text-decoration: none;
  font-weight: 700;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*-------------------misc offsets-----------------------*/
.L40 {
  float: left;
  width: 60%;
  max-width: 90px;
}

.R40 {
  float: right;
  width: 60%;
  max-width: 90px;
}

.mt10 {
  margin-top: 5px;
}

.mt0 {
  margin: 0px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb0 {
  margin-bottom: 0px;
}

.pb20 {
  padding-bottom: 20px;
}

.m30 {
  margin: 30px;
}

.p20 {
  padding: 20px;
}

/*-------------------NAV FOR THE HOME PAGE-----------------------*/
.white90 {
  background-color: #ffffff;
  opacity: 0.9;
}

.white50 {
  background-color: #ffffff;
  opacity: 0.75;
  position: absolute;
  bottom: 0px;
  height: 70%;
  width: 100%;
  z-index: -5;
}

.header-large {
  background-image: url("header1.jpg");
  background-size: cover;
  background-position: center;
  height: 620px;
  margin: 0px -16px 0px -16px;
}

.header-med {
  background-image: url("header2.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  margin: 0px -16px 0px -16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom {
  display: flex;
}

.footer-large {
  background-image: url("footer.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  margin: 0px -16px -30px -16px;
  position: relative;
  top: -30px;
}

.footer-credits {
  background-color: #B80F6C;
  color: #fff;
  padding: 5px;
  margin: 0px -16px 0px -16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav-large {
  padding: 15px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.nav-core {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media screen and (max-width: 425px) {
  .nav-core {
    justify-content: center;
    width: 330px;
    margin: auto;
    padding-top: 5px;
  }
}

.nav-side {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 425px) {
  .nav-side {
    flex-wrap: nowrap;
    justify-content: center;
    width: 330px;
    margin: auto;
    padding-top: 5px;
  }
}

.headlines {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.over-logo {
  width: 66%;
}
@media screen and (max-width: 425px) {
  .over-logo {
    width: 300px;
    margin: auto;
  }
}

.p0 {
  padding-top: 0px;
}

.nav-small {
  display: flex;
  align-items: center;
}

/*-------------------NAV BUTTONS AND GENERAL BUTTONS-----------------------*/
.btn-form {
  margin: 10px;
  /*padding:10px;*/
  max-width: 140px;
  padding-bottom: 3px;
  border-radius: 0px 0px 10px 10px;
}

.tag {
  background-color: #d0d0d0;
  color: #fff;
  padding: 3px;
  width: 40%;
  margin: 5px 0px;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1em;
}

.btn-menu {
  border: solid #B80F6C 6px;
  font-family: "calder-dark", sans-serif;
  font-size: 1.6em;
  line-height: 0.8em;
  color: #fff;
  background: #C69C6D;
}
.btn-menu .ln2 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 0.75em;
}
.btn-menu:hover {
  border: solid #4CBB41 6px;
  color: #fff;
  background: #A67C52;
  background-image: url("dirt-S.png");
}

.btn-menu2 {
  border: solid #fff 6px;
  font-family: "calder-dark", sans-serif;
  font-size: 1.6em;
  line-height: 0.8em;
  color: #fff;
  background: #8C6239;
}
.btn-menu2 .ln2 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 0.75em;
}
.btn-menu2:hover {
  color: #fff;
  background: #B80F6C;
}

.join {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  padding: 15px;
}

.block {
  width: 100%;
}

.btn-green {
  /*width:90%;*/
  min-width: 100px;
  padding-bottom: 10px;
  margin: 5px;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.25em;
  line-height: 1.25em;
  color: #fff;
  background: #4CBB41;
}
.btn-green a {
  color: #fff;
}
.btn-green a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.btn-green:hover {
  color: #fff;
  background: #4A9113;
}

.next:hover {
  color: #4A9113;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
  bottom: 0px;
  border-radius: 0px 0px 10px 10px;
}
.dropdown-content li {
  list-style: none;
  background-color: #fff;
}
.dropdown-content a {
  color: #666666;
}
.dropdown-content a:hover {
  color: #B80F6C;
  background-color: #fff;
}
.dropdown-content:hover {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-home {
  bottom: inherit;
}

/*-------------------CARDS-----------------------*/
.beetB {
  border: solid #B80F6C 6px;
  border-radius: 0px 0px 10px 10px;
}

.cards {
  border: solid #B80F6C 6px;
  color: #B80F6C;
  background: #fff;
  line-height: 1.5em;
  margin: 10px;
  padding: 10px;
  width: 280px;
  padding-bottom: 3px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.cards .date {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 0.75em;
  color: #4CBB41;
}
.cards .title {
  font-family: "calder-dark", sans-serif;
  font-size: 1.25em;
}
.cards li {
  color: #4CBB41;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.25em;
  list-style: none;
  line-height: 1.5em;
}
.cards p {
  color: #4CBB41;
}
.cards .cards-feature {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}
.cards .cards-feature:hover {
  border: solid #B80F6C 6px;
}

.volunteer p {
  font-size: 1em;
  line-height: 1.1em;
}

.trans {
  border: none;
  margin: 0px;
  color: #fff;
  background: none;
  line-height: 1.5em;
}
.trans p {
  color: #fff;
}

input {
  font-family: "brandon-grotesque", sans-serif;
  margin-bottom: 10px;
  border-radius: 0px 0px 10px 10px !important;
}

.input {
  font-family: "brandon-grotesque", sans-serif;
  margin-bottom: 10px !important;
  border-radius: 0px 0px 10px 10px !important;
}

/*-----------------hidding elements------------------*/
@media screen and (max-width: 425px) {
  .sm-off {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .med-off {
    display: none;
  }
}

.text {
  position: relative;
}

.navbar {
  margin-bottom: 0px;
}

.main-container {
  margin-top: 0px;
  margin-bottom: 10px;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 0px;
}

.flexslider {
  display: none;
}

.ui-datepicker td {
  border: 0;
  padding: 1px;
  width: 32px;
  height: 32px;
  color: #666666 !important;
}
.ui-datepicker td td a {
  display: block;
  padding: 0.2em;
  text-align: center;
  text-decoration: none;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: center !important;
  text-decoration: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none !important;
  font-weight: bold;
  color: #333333 !important;
  border-radius: 30px;
  height: 30px;
  width: 30px;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 0.25px solid #222222;
  font-weight: bold;
  color: #2779aa;
}

.ui-widget-header {
  background: #f1e2c5 !important;
  border: 1px solid #d0d0d0 !important;
  color: #333333 !important;
}

.ui-widget-content {
  border: 1px solid #333333 !important;
  background: none !important;
  margin-bottom: 20px;
}

.ui-widget-header .ui-icon {
  background-image: none !important;
}

.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: bold;
  width: 32px;
  border: 0;
}

.ui-datepicker table {
  width: 100%;
  font-size: 0.8em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}

.flex-center {
  display: flex;
  justify-content: center;
}
.flex-center .hasDatepicker {
  box-sizing: content-box;
}

.ui-grey {
  border: 0.25px solid #d0d0d0 !important;
}

.beet-fill {
  background-color: #B80F6C !important;
  border: 3px solid #B80F6C !important;
}
.beet-fill:hover {
  background: #B80F6C !important;
  border: 1px solid #B80F6C !important;
  color: #fff !important;
}

.beet-fill2 {
  background-color: #7C0E5D !important;
  border: 3px solid #7C0E5D !important;
}
.beet-fill2:hover {
  background: #7C0E5D !important;
  border: 1px solid #7C0E5D !important;
  color: #fff !important;
}

.brown-fill {
  background-color: #C69C6D !important;
  border: 3px solid #C69C6D !important;
}
.brown-fill:hover {
  background: #C69C6D !important;
  border: 1px solid #C69C6D !important;
  color: #fff !important;
}

.brown-fill2 {
  background-color: #8C6239 !important;
  border: 3px solid #8C6239 !important;
}
.brown-fill2:hover {
  background: #8C6239 !important;
  border: 1px solid #8C6239 !important;
  color: #fff !important;
}

.green-fill {
  background-color: #4CBB41 !important;
  border: 3px solid #4CBB41 !important;
}
.green-fill:hover {
  background: #4CBB41 !important;
  border: 1px solid #4CBB41 !important;
  color: #fff !important;
}

.green-fill2 {
  background-color: #4A9113 !important;
  border: 3px solid #4A9113 !important;
}
.green-fill2:hover {
  background: #4A9113 !important;
  border: 1px solid #4A9113 !important;
  color: #fff !important;
}

/*# sourceMappingURL=styles.css.map */
