{% for page in tag.most_recent_published_pages_no_pagination %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 panel-short">
        <div class="col-sm-4 col-xs-10 cold-xs-offset-1 text-center flex-col">
            {% for feature in page.features %}
            <div class="mtb30">
                <img class="beetB" src="{{feature.image_url}}" alt="{{feature.headline}}"/>
                <p class="small">{{feature.headline}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-8 p20">
            {{page.basic.content}}
        </div>
    </div>
</div>
{% if page.slug == "community_gardeners" %}
<div class="row">
    <h4 class="text-center beet">Past Grant Recipients</h4>
</div>
<div class="row card-row text-bar">
    <div class="col-sm-8 col-sm-offset-2 nav-core">
        {% tag "recipients" with "cards-simple" %}
    </div>
</div>
{% endif%}
{% if page.slug == "produceforpantries" %}
<div class="row">
    <h4 class="text-center beet">Helpful Tips for Donating Homegrown Produce</h4>
</div>
<div class="row card-row text-bar">
    <div class="col-sm-8 col-sm-offset-2 nav-core">
        {% tag "harvest" with "cards-simple" %}
    </div>
</div>
{% endif%}
{% endfor %}
