<div class="row text-center m30">
  <h4 class="brown"> Create a {{ site.name }} account </h4>
</div>
<div class="form-wrap">
<div class="form">

  {% form_for account %}

  	<div class="form-errors text-center">{% error_messages_for account %}</div>

    <div class="row">
      <div class="col-md-6"><div class="form-group"><label for="account_email">Email</label>{% email_field "email", class:"text form-control" %}</div></div>
    </div>

    <div class="row">
 	  	<div class="col-md-12">{% submit_tag "Send account activation instructions", class:"submit-button btn btn-primary" %}</div>
  	  <div class="form-submit"></div>
  	</div>

    <div class="row padtop">
      <div class="col-md-12"><a href="{{ request.new_password_reset_url }}">Reset my password</a></div>
    </div>

		{% if request.logged_in? == false %}
  	<div class="row padtop text-center m30">
  	  <h4 class="brown">Or sign in instantly with:</h4>
    </div>

  	<div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
  	  <a href="{{ request.facebook_connect_url }}" class="btn btn-default connect-button btn-green"><i class="icon-facebook-squared"></i> Sign in with Facebook</a>
  	  <a href="{{ request.twitter_connect_url }}" class="btn btn-default connect-button btn-green"><i class="icon-twitter-squared"></i> Sign in with Twitter</a>
      </div>
  	</div>
		{% endif %}

  {% endform_for %}

</div>
